* {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  color: white;
}

.container {
}

/* FORM */
.form {
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  width: 30rem;
  height: 20rem;
  border-radius: 10px;
  justify-content: center;
  padding: 0 50px;
}

.submit {
  width: 5rem;
  margin: 1rem 0;
}

/* LIST */
.list {
  background-color: pink;
  margin: 2rem auto;
  width: 50rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}


.modal{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: green;
  z-index: 1;
}